/*
* @Author: hwaphon
* @Date:   2016-12-16 17:05:12
* @Last Modified by:   hwaphon
* @Last Modified time: 2016-12-16 19:50:09
*/

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

form {
    width: 80%;
    margin: 32px auto;

    text-align: center;
}

form select {
    padding: 12px 16px;

    color: #333;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

form select > option {
    height: 32px;
}

form input[type='text'] {
    width: 320px;
    padding: 12px 8px;

    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

form input[type = 'button'] {
    padding: 12px 16px;

    cursor: pointer;
    transition: background-color 2s ease-in 0;

    color: #fff;
    border: none;
    background-color: #428bca;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

form input[type = 'button']:hover {
    transition: background-color 2s ease-out 0;

    background-color: #369;
}

#note-list {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    width: 80%;
    margin: 24px auto;

    list-style: none;

    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#note-list > li {
    font-family: sans-serif;

    display: block;

    height: 200px;
    margin-bottom: 32px;
    margin-left: 48px;
    padding: 16px;

    cursor: pointer;
    transition: transform 2s linear 0;

    border: 1px solid #333;
    border: none;
    border-radius: 4px 8px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);

    -moz-box-flex: 0;
    -ms-flex: 0 0 200px;
        flex: 0 0 200px;
}

#note-list li:nth-child(even) {
    transform: rotate(2deg);
}

#note-list li:nth-child(odd) {
    transform: rotate(-2deg);
}

#note-list li:nth-child(3n) {
    transform: rotate(0deg);
}

#note-list > li:hover {
    z-index: 10;

    transform: rotate(0deg) scale(1.2);
}

#note-list li.normal {
    background-color: #d9edf7;
}

#note-list li.important {
    background-color: #f2dede;
}
